export(
	hydrosanity,
	
	## timeblob_plots.R
	grid.timeline.plot,
	grid.timeline.bar,
	timelineColMapDefault,
	grid.timeseries.plot,
	grid.timeseries.plot.superpose,
	grid.timeseries.steps,
	hydrosanity.caption,
	grid.yaxis.log,
	grid.xaxis.log,
	lattice.y.prettylog,
	lattice.x.prettylog,
	grid.xaxis.POSIXt,
	panel.identify.qqmath,
	prepanel.qqmath.fix,
	
	## timeblob.R
	timeblob,
	is.timeblob,
	lapply.timeblob.data,
	sapply.timeblob.data,
	read.timeblob,
	start.timeblob,
	end.timeblob,
	start.timeblobs,
	end.timeblobs,
	window.timeblob,
	matchtimes.timeblob,
	sync.timeblobs,
	syncTo.timeblobs,
	common.timestep.timeblobs,
	summary.missing.timeblobs,
	aggregate.timeblob,
	impute.timeblobs,
	unimpute.timeblobs,
	spatialField,
	gaps,
	rises,
	lastTime,
	trunc.month,
	trunc.year,
	trunc.decade
)

exportPattern("_") # Needed for the Glade interface

